$cont_width: 100vw
$cont_height: 100vh
$global_padding: 12px
$nav_height: 48px

#landing
    padding: $global_padding
    height: $cont_height
.landing
    &__nav
        width: 100%
        height: $nav_height
        &__links
            list-style: none
            li
                margin-inline: 10px
    &__container
        width: 100%
        height: calc($cont_height - $nav_height)
        background: url("../public/images/coworking.jpg") no-repeat
        background-size: cover
#about
    height: 500px
    margin-block: 4rem
    margin-inline: 1rem
    padding-inline: $global_padding
.about
    &__description
        width: 40%
        height: 100%
    &__scroller
        width: 60%
        height: 100%
#footer
    height: 18rem
    background-color: #b19b8e
    padding: $global_padding
    padding-inline: 2rem
