$cont_width: 100vw
$cont_height: 100vh
$global_padding: 12px
$nav_height: 48px

@mixin corners()
    content: ''
    width: 40px
    height: 40px
    background-color: transparent
    position: absolute
    box-shadow: -16px 16px 0 #ffffff

#landing
    padding: $global_padding
    height: $cont_height
.landing
    &__nav
        width: 100%
        height: $nav_height
        &__links
            list-style: none
            li
                margin-inline: 10px
    &__container
        width: 100%
        height: calc($cont_height - $nav_height)
        background: url("../public/images/coworking.jpg") no-repeat
        background-size: cover
        .-title
            background-color: white
            position: absolute
            bottom: 12px
            left: 12px
            padding-inline: 24px
            padding-block: 12px
        .-corners
            &-1
                @include corners()
                top: -40px
                left: 0
                border-bottom-left-radius: 24px
            &-2
                @include corners()
                bottom: 0
                right: -40px
                border-bottom-left-radius: 24px
        h1
            font-size: 5rem
            font-weight: bolder
#about
    height: $cont_height
    padding: 128px
.about
    &__info
        width: 40%
        height: 90%
        &--title
            font-size: 6rem
        &--content
            font-size: 12px
    &__scroller
        width: 60%
        height: 90%

#userTypes
    height: 100vh
    padding-inline: 128px
    padding-bottom: 128px
.userTypes
    &__header
        &--title
            font-size: 5rem
        &--description
            font-size: 12px

#footer
    height: 18rem
    background-color: #b19b8e
    padding: $global_padding
    padding-inline: 2rem
