$cont_width: 100vw
$cont_height: 100vh
$global_padding: 12px
$nav_height: 48px

@mixin corners()
    content: ''
    width: 40px
    height: 40px
    background-color: transparent
    position: absolute
    box-shadow: -16px 16px 0 #ffffff

#landing
    padding: $global_padding
    height: $cont_height
.landing
    &__container
        width: 100%
        height: calc($cont_height)
        background: url("../public/images/coworking-image.png") no-repeat
        background-size: cover
        position: relative
        .-title
            background-color: white
            position: absolute
            top: 0px
            left: 0px
        .-description
            position: absolute
            bottom: 30px
            right: 40px
            width: 400px
            font-size: 14px
            color: white
            text-align: end
        &-nav
            position: absolute
            top: 0px
            right: 0px
            padding: 15px 30px
            background-color: #ffffff
            ul
                li
                    color: #12150e
                    font-size: 14px
                    opacity: .8
                    font-weight: 600
        h1
            font-size: 7rem
            line-height: 100px
            text-transform: capitalize
#about
    height: $cont_height
    padding: 128px
.about
    &__info
        width: 40%
        height: 90%
        &--title
            font-size: 6rem
        &--content
            font-size: 12px
    &__scroller
        width: 60%
        height: 90%

#userTypes
    height: 100vh
    padding-inline: 128px
    padding-bottom: 128px
.userTypes
    &__header
        &--title
            font-size: 5rem
        &--description
            font-size: 12px

#footer
    height: 18rem
    background-color: #b19b8e
    padding: $global_padding
    padding-inline: 2rem
