.login
    padding-inline: 128px
    padding-block: 64px
    &__info
        padding: 24px
        &-background
            border-radius: 24px
            padding: 48px
            background-color: gray
    &__form
        &-div
            padding: 48px
            height: 100%
